{% extends 'layout/basic.html' %}
{% block css %}
    <style>
        .account {
            width: 450px;
            margin: 0 auto;
        }

        .label-error-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        .error {
            color: red;
            display: inline-block;
            margin-right: 10px;
        }
    </style>

{% endblock %}
{% block content %}
    <div class="account">
        {% csrf_token %}
        <h1 style="text-align: center">注册</h1>
        <form id="registerForm" action="">
            {% for field in form %}
                {% if field.name == 'code' %}
                    <div class="mb-3">
                        <div class="label-error-container">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            <div id="{{ field.id_for_label }}_error" class="error">{{ field.errors }}</div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-auto" style="padding-left: 0">
                                    {{ field }}
                                </div>
                                <div class="col-auto ml-auto">
                                    <input id="sendSmsBtn" type="button" class="btn btn-light" value="点击获取验证码">
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="mb-3">
                        <div class="label-error-container">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            <div id="{{ field.id_for_label }}_error" class="error">{{ field.errors }}</div>
                        </div>
                        {{ field }}
                    </div>
                {% endif %}
            {% endfor %}
            <input id="registerBtn" type="button" class="btn btn-primary" value="注册">
        </form>

    </div>

{% endblock %}
{% block js %}
    <script>
        $(function () {
            sendSms('#sendSmsBtn', 'register');
            bindRegisterBtn();
        })

        function sendSmsRemind(durationInSeconds) {
            var $btn = $('#sendSmsBtn');   // 获取id为sendSmsBtn的按钮
            var remainingTime = durationInSeconds;
            var btnText = $btn.val()

            // 禁用按钮并显示剩余时间
            $btn.prop('disabled', true).val(remainingTime + 's');

            // 设置一个间隔函数每秒更新按钮上的文字
            var countdownInterval = setInterval(function () {
                remainingTime--;
                $btn.val(remainingTime + 's');

                // 当倒计时结束时，启用按钮并停止间隔函数
                if (remainingTime <= 0) {
                    clearInterval(countdownInterval);
                    $btn.prop('disabled', false).val(btnText);
                }
            }, 1000);
        }

        function sendSms(buttonSelector, tpl) {
            $(buttonSelector).click(function () {
                var mobilePhone = $('#id_mobile').val();
                $('#id_mobile_error').text('');
                $.ajax({
                    "url": "http://127.0.0.1:8000/send_sms/",
                    type: "POST",
                    data: {
                        phone: mobilePhone,
                        tpl: tpl,
                    },
                    dataType: "JSON",
                    success: function (res) {
                        if (res.status) {
                            sendSmsRemind(60);
                        } else {
                            $('#id_mobile_error').text(res.error);
                        }
                    }
                })
            })
        }

        function bindRegisterBtn() {
            $('#registerBtn').click(function () {
                $('.error').text('')
                $.ajax({
                    url: "http://127.0.0.1:8000/register/",
                    data: $('#registerForm').serialize(),
                    dataType: "JSON",
                    type: "POST",
                    success: function (res) {
                        if (res.status) {
                            // 成功后跳转到登录页面
                            location.href = "http://127.0.0.1:8000/login/"
                        } else {
                            // 失败显示错误信息
                            for (let key in res.errors) {
                                $('#id_' + key + '_error').text(res.errors[key])
                            }
                        }
                    }
                })
            })
        }
    </script>
{% endblock %}